// FONTS
@import "./shared/fonts";
@import "./shared/icomoon";

// ARMSTRONG LIBRARY IMPORT (don't move or delete!)
@import "~@rocketmakers/armstrong/dist/imports";
@import "~@rocketmakers/armstrong/dist/core";
@import "~@rocketmakers/armstrong/dist/form";
@import "~@rocketmakers/armstrong/dist/navigation";
@import "~@rocketmakers/armstrong/dist/animation";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#host,
.shell {
  font-family: Roboto, Helvetica, arial, sans-serif;
}

.shell {
  padding: $spacing-small;
}