@use 'sass:math';

// FONTS
@import "./shared/fonts";
@import '~@rocketmakers/armstrong-edge/dist/icomoon.scss';

// variables and mixins - required for the rest of armstrong to work
@import '~@rocketmakers/armstrong-edge/dist/imports.scss';

// includes a tonne of useful animations (required for use in the animated.scss theme)
@import '~@rocketmakers/armstrong-edge/dist/animations.scss';

// basic theme - includes only functional and layout styling
@import '~@rocketmakers/armstrong-edge/dist/basic.scss';

// prototyping theme - includes prototype theme styling
@import '~@rocketmakers/armstrong-edge/dist/prototyping.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#host,
.shell {
  font-family: Roboto, Helvetica, arial, sans-serif;
}

.shell {
  padding: $spacing-small;
}